// index.html
body {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

#carousel{
  margin: 15%;
  width: 70%;
  height: 950px;
}

.carousel .indicators .indicator-item {
  background-color: #f8f8f8;
  width: 25px;
  height: 25px;
}

.carousel .indicators .indicator-item.active {
  background-color: #f64552;
}

.carousel.carousel-slider .carousel-item p {
    font-size: 35px;
    color: #8f8f8f;
}

.carousel.carousel-slider .carousel-item h2 {
    font-size: 55px;
    font-weight: bold;
}

.btn-amarillo {
  margin: 0;
  padding: 4%;
  font-size: 45px;
  background-color: #fbd43b;
}

.btn-grande{
  width: 65%;
}
//validacion.html
.margin-top-20 {
  margin-top: 25%;
}

.margin-top-10 {
  margin-top: 10%;
}

.margin-top-1 {
  margin-top: 1%;
}

.margin-top-4 {
  margin-top: 4%;
}

.bold{
  font-weight: bold;
}

input.input{
  margin-top: 4% !important;
  font-size: 40px !important;
}

.btn-mediano {
  width: 35%;
}

.terminosYcondiciones {
  font-size: 25px;
}

// codigo.html
.texto-gris {
  color: #8f8f8f;
}

.texto-negro {
  color: black;
}

input.form-datos {
  margin-top: 2% !important;
  font-size: 35px !important;
}

.texto-40px {
  font-size: 40px;
}

.bc-amarillo {
  background-color: #fbd43b;
  height: 100vh;
}
