<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Yape Steph</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <section class="container">
      <div class="row center margin-top">
        <img src="../img/icons/message.png" alt="message">
        <h3 class="col s8 offset-s2 bold">Ahora ingresa tu código</h2>
        <h4 class="col s10 offset-s1 texto-gris">Enviamos un SMS con el código de validación </h4>
        <h4 class="col s10 offset-s1 texto-gris"> al número <span id="numeroIngresado" class="bold texto-negro"></span></h4>
      </div>
      <form>
        <div class="input-field row center margin-top">
          <img class="col s1" src="../img/icons/lock.png">
          <input type="number" class="input validate center col s10 bold" placeholder="- - - - -">
        </div>
      </form>
      <div class="row center">
        <h4 class="texto-gris col s3 offset-s3">Reintentar en</h4><img class="col s1" src="../img/icons/clock.png" alt="clock"><h4 class="texto-gris col s1"> 21 </h4>
      </div>
    </section>
    <script src="../static/jquery/dist/jquery.min.js"></script>
    <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../js/post.js"></script>
  </body>
</html>
