<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Yape Steph</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <section class="bc-amarillo center valign-wrapper">
      <div class="row">
        <img src="../img/icons/check.png" alt="check">
        <h2 class="bold">¡Bien!</h2>
        <h2 class="bold">Ahora puedes usar Yape</h2>
      </div>
    </section>
    <script src="../static/jquery/dist/jquery.min.js"></script>
    <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
    <script>
      setTimeout(function(){window.location.href="registro-tarjeta.html"}, 3000);
    </script>
  </body>
</html>
