<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Yape Steph</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <section class="container">
      <div class="row center margin-top-20">
        <img src="../img/icons/phone.png" alt="">
        <h3 class="col s8 offset-s2 bold">Para comenzar validemos tu número</h2>
        <h4 class="col s12">Recibirás un SMS con un código de validación</h4>
      </div>
      <form>
		    <div class="input-field row center">
          <img class="col s3" src="../img/icons/phoneandnumber.png">
          <input type="number" class="input validate col s9" id="numeroTelefonico">
        </div>
        <div class="center col s10">
          <input type="checkbox"  id="checkbox"/>
          <label for="checkbox" class="col s9"><span class="terminosYcondiciones">Acepto los </span><a href="#" class="terminosYcondiciones">Términos y Condiciones</a></label>
        </div>
	    </form>
      <div class="center">
        <a id="continuar" class="btn btn-amarillo btn-mediano margin-top-20"  disabled="">CONTINUAR</a>
      </div>
    </section>
    <script src="../static/jquery/dist/jquery.min.js"></script>
    <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/post.js"></script>
  </body>
</html>
